.freshcutlist {
    padding: 0 10px 0 10px;
}

.freshcutlist .swiper-slide {
    text-align: center;
    font-size: 18px;
    /* background: #fff; */

    /* Center slide text vertically */
    display: block;
    justify-content: center;
    align-items: center;
    width: 250px;
}

.freshcutlist .swiper-slide img {
    display: block;
    box-shadow: 9px 15px 20px 0px #676767;
}