.section-testimonies .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 350px;
    /* height: 300px; */
    filter: blur(4px);
}

.section-testimonies .swiper-slide.swiper-slide-active {
    filter: blur(0px);
}

.section-testimonies .swiper-slide img {
    display: block;
    width: 70px;
    border-radius: 0rem;
}

.section-testimonies .swiper-3d .swiper-slide-shadow-left {
    background-image: linear-gradient(to left, rgb(0 0 0 / 20%), rgb(0 0 0 / 20%));
    border-radius: 1rem;

}

.section-testimonies .swiper-3d .swiper-slide-shadow-right {
    background-image: linear-gradient(to right, rgb(0 0 0 / 20%), rgb(0 0 0 / 20%));
    border-radius: 1rem;
}

.content-testimonial {
    /* width: 500px; */
    background: white;
    padding: 25px;
    border: 1px solid #848484;
    position: relative;
    color: #999;
    border-radius: 1rem;
}

.content-testimonial #quote {
    text-align: right;
}

.content-testimonial #text-testimonial {
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content-testimonial #img-testimonial img {
    /* width: 70px; */
    height: 70px;
    border-radius: 2rem;
    position: relative;
    overflow: hidden;
    margin-right: 15px;
}

.content-testimonial .detail {
    display: flex;
    align-items: center;
    margin-top: 15px;
    justify-content: center;
    flex-direction: column;
}

.content-testimonial .detail #user-details {
    background-color: #999999;
    ;
    padding: 5px;
    border-radius: 10px;
    position: absolute;
    bottom: -15px;
}

.content-testimonial .detail #user-details h5 {
    color: #f6f6f6;
    font-size: 16px;
    font-weight: 600;
    margin: 0;
}