.section-freshcuts,
.section-contact {
    padding: 15px 0 25px 0;
    background-color: rgb(234, 234, 234);
}

.section-schedule,
.section-testimonies {
    padding: 15px 0 35px 0;
}

.section-schedule .contain-calendar {
    padding: 0 10px 0 10px;
}

.section-galeries {
    padding: 15px 0 25px 0;
    background-color: rgb(26, 23, 23);
    color: white;
}

/* Scroll to Top Button */

.iconbutton {
    width: 48px;
    height: 48px;
    border-radius: 100%;
    background-color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    right: 3%;
    bottom: 3%;
    cursor: pointer;
    z-index: 1055;
}