.freshcutlist {
    padding: 0 10px 0 10px;
}

.freshcutlist .swiper-slide {
    text-align: center;
    font-size: 18px;
    /* background: #fff; */

    /* Center slide text vertically */
    display: block;
    justify-content: center;
    align-items: center;
    width: 250px;
}

.freshcutlist .swiper-slide img {
    display: block;
    box-shadow: 2px 2px 4px 0px #676767;
}

.freshcutlist .freshcut-price {
    position: absolute;
    top: 0;
    right: 0;
    background-color: black;
    color: white;
    width: max-content;
    padding: 2px 10px 2px 10px;
    border-radius: 0 5px 0 0;
}